/* ============================ Common CSS ============================ */
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
    list-style: none;
}

/* #4F4F4F */
:root {
    --headerTextColor: #094b72;
    --bodyTextColor: #4f4f4f;
    --sectionTitleColor: #2d2f30;
    --whiteColor: #fff;

    --fontPlayfairDisplay: "Playfair Display", serif;
    --fontInter: "Inter", sans-serif;
    --fontPoppins: "Poppins", sans-serif;
}

/* font-family: 'Inter', sans-serif;
font-family: 'Playfair Display', serif;
font-family: 'Poppins', sans-serif; */

.header-bg {
    background-color: var(--headerBackground);
}

/* var(--themeColor)
var(--subColor) */

img {
    max-width: 100%;
}

/* ============================ Google Fonts ============================ */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;700&family=Playfair+Display:wght@700;900&family=Poppins:wght@300;400;500;600;800&display=swap");

body {
    font-family: var(--fontPoppins);
    font-size: 14px;
    color: var(--bodyTextColor);
    font-weight: normal;
    line-height: 24px;
}

h1,
h2,
h3,
h4,
h5 {
    color: var(--sectionTitleColor);
}
a {
    text-decoration: none;
}
/* ============================ Header Area ============================ */
/* Header Top */
a.navbar-brand img {
    max-width: 144px;
    height: auto;
}

li.nav-item a {
    color: var(--sectionTitleColor);
    font-size: 12px;
    text-transform: uppercase;
    font-weight: normal;
    margin-right: 38px;
    line-height: 23px;
    letter-spacing: 1.5px;
}

li.nav-item.header-search a img {
    width: 18px;
    margin-left: 120px;
}

.header-top {
    padding: 38px 0;
}

li.nav-item a:hover {
    color: var(--headerTextColor);
}
/* Header Bottom */
.header-content h1 {
    font-family: var(--fontPlayfairDisplay);
    font-style: normal;
    font-weight: bold;
    font-size: 90px;
    line-height: 120%;
    letter-spacing: 0.02em;
    color: var(--headerTextColor);
    margin-bottom: 46px;
}

.header-content p {
    font-family: Plus Jakarta Sans;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 158%;
    letter-spacing: 0.5px;
    color: var(--bodyTextColor);
    margin-bottom: 42px;
    max-width: 549px;
}

.header-content a {
    background: #094b72;
    color: #fff;
    border-radius: 8px;
    padding: 29px 36px;
    font-size: 16px;
    text-transform: uppercase;
    display: inline-block;
}

.header-content {
    margin-bottom: 115px;
}

.header-bottom {
    padding-top: 150px;
    background-color: #f9f8f9;
}

.header-social {
    font-family: Plus Jakarta Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 140.5%;
    letter-spacing: 0.04em;
    color: #8b8c8c;
}

.header-social p {
    margin-bottom: 34px;
}

.header-social img {
    width: 110px;
    height: auto;
}

.header-social {
    margin-bottom: 47px;
}

/* ============================ Legalization Section CSS ============================ */

li.nav-item a:hover {
    color: var(--headerTextColor);
}

section.legalization-area {
    padding: 126px 0;
    background-color: #f2fcff;
}

h2.section-title {
    font-family: var(--fontPlayfairDisplay);
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 64px;
    letter-spacing: 0.323077px;
    margin-bottom: 20px;
}

.legalization-content {
    max-width: 368px;
}

.legalization-content p {
    font-family: var(--fontPoppins);
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 36px;
    letter-spacing: 0.5px;
    color: #8b8c8c;
}

.legalization-box {
    background: #fcfcfc;
    box-shadow: 0px 18px 58px 16px rgba(0, 0, 0, 0.06);
    border-radius: 8px;
    padding-top: 27px;
    padding-right: 22px;
    padding-left: 24px;
    padding-bottom: 24px;
    margin-bottom: 28px;
    transition: 0.3s;
}

.legalization-box img {
    max-width: 30px;
    margin-bottom: 25px;
}

.legalization-box h3 {
    font-family: var(--fontPlayfairDisplay);
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 22px;
    letter-spacing: 0.5px;
    color: #363940;
    margin-bottom: 10px;
}

.legalization-box p {
    font-family: Plus Jakarta Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.3px;
    color: #8b8c8c;
}

.legalization-box:hover {
    box-shadow: 5px 6px 24px 7px #999;
}

/* ============================ Counter Section CSS ============================ */
section.counter-area {
    padding-top: 53px;
    padding-bottom: 50px;
    color: #fff;
    background-image: url(./img/countBG.png);
    background-size: cover;
    background-position: center;
}

.counter-content.text-center h2 {
    color: #fff;
    font-style: normal;
    font-weight: 900;
    font-size: 48px;
    line-height: 64px;

    text-align: center;
    letter-spacing: 0.005em;
    font-feature-settings: "salt" on, "liga" off;
    margin-bottom: 8px;
}

.counter-items h2 {
    color: #fff;
}

.counter-items {
    display: flex;
    text-align: center;
    margin-top: 48px;
}

.counter-box {
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 32px;

    text-align: center;
    letter-spacing: 0.3px;
    font-feature-settings: "salt" on, "liga" off;
    position: relative;
    width: 280px;
}

.counter-box h2 {
    font-style: normal;
    font-weight: 800;
    font-size: 48px;
    line-height: 64px;

    text-align: center;
    font-feature-settings: "salt" on, "liga" off;
}

.counter-box:after {
    position: absolute;
    height: 100%;
    width: 2px;
    content: "";
    background-color: #fff;
    top: 0;
    right: 0;
    opacity: 0.5;
}
/* ============================ Testimonial Section CSS ============================ */
section.testimonials-area {
    padding-top: 60px;
    padding-bottom: 90px;
}

section.testimonials-area h2 {
    margin-bottom: 50px;
}

.testimonials-box {
    box-shadow: 5px 5px 5px 5px #e8eef2;
    border-radius: 10px;
    padding: 32px;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    text-align: center;
    letter-spacing: 0.5px;
    font-feature-settings: "salt" on, "liga" off;

    color: #4f4f4f;
}

.testimonials-box h3 {
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 28px;
    text-align: center;

    color: #151617;
}

.testimonials-user {
    margin-top: 28px;
    display: -webkit-inline-box;
}

.testimonials-user img {
    max-width: 56px;
    height: auto;
    border-radius: 50%;
    margin-right: 16px;
}

.testimonials-user-info h3 {
    font-family: var(--fontInter);
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 28px;

    font-feature-settings: "salt" on, "liga" off;

    color: #151617;
    margin-bottom: -1px;
}

.testimonials-user-info {
    font-family: var(--fontInter);
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    font-feature-settings: "salt" on, "liga" off;

    color: #4f4f4f;
}
/* ============================ Questions Section CSS ============================ */
section.questions-area {
    padding-top: 36px;
    padding-bottom: 40px;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 36px;
    letter-spacing: 0.5px;
    color: #4f4f4f;
    /* background-image: url(./img/h1RW-NFtUyc.jpg); */
}

.questions-content a {
    background-color: #0f6e8c;
    color: #fff;
    padding: 14px 36px;
    border-radius: 8px;
    margin-top: 20px;
    display: inline-block;
    transition: 0.3s;
}

.questions-content a:hover {
    background-color: var(--bodyTextColor);
    color: #fff;
}
/* ============================ Footer Section CSS ============================ */
.footer-top {
    background-color: #0f6e8c;
    padding-top: 73px;
    padding-bottom: 91px;
}

.footer-bottom {
    background-color: #05546d;
    color: #d9dbe1;
    padding: 24px 0;
}

.footer-top a {
    color: #eeeff4;
}

.footer-top img {
    max-width: 160px;
    height: auto;
}

.footer-title h4 {
    font-family: var(--fontInter);
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    /* identical to box height, or 150% */
    font-feature-settings: "salt" on, "liga" off;

    /* Text / Gray 100 */
    color: #f4f5f7;
    margin-bottom: 32px;
}

.footer-title ul li a {
    display: block;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
    font-family: var();
}

.footer-menu ul li a {
    font-family: var(--fontInter);
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
    margin-bottom: 12px;
    transition: 0.3s;
}

.footer-menu ul li {
    margin-left: -31px;
    display: inline-grid;
}

.footer-menu ul li a:hover {
    color: #999;
}

.footer-social img {
    margin-left: 16px;
    padding: 7px;
    background-color: #1d647b;
    border-radius: 50%;
}
